.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    max-width: 800px;
    margin: 50px auto;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    /* animation: fadeInUp 0.8s both; */
    animation: slideIn 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    padding: 2rem;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

.not-found-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #3d3d3d;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
}

.not-found-message {
    font-size: 1.5rem;
    color: #666666;
    text-align: center;
    max-width: 500px;
    padding: 0 2rem;
}

.not-found-button {
    background-color: #3d3d3d;
    color: #f1f1f1;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.not-found-button:hover {
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0 0 10px #333333;
    animation: shake 0.3s ease-in-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-5px);
    }

    20% {
        transform: translateX(5px);
    }

    30% {
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    60% {
        transform: translateX(5px);
    }

    70% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(5px);
    }

    90% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}